<div class="container">
  <div class="row">
    <h3>注文履歴詳細</h3>
    <div class="col-md-12">
      <div class="row">購入者  <%= @order.name, admin_customer_path(@order.customer) %></div>
      <div class="row">配送先  <%= @order.address %></div>
      <div class="row">支払い方法  <%= @order.payment_method %></div>
      <div class="row">注文ステータス  
        <%= form_with model: @order, %>
      </div>
    </div>
  </div>
</div>