<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name, items_path %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10">
      <h3>商品一覧(全<%= @items.count %>件</h3>
    </div>
  </div>
</div>